

.app__header {
    width: 100%;
    min-height: inherit;

    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.app__header-headline {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}