.video-responsive {
    
    padding-bottom: 56.25%;
    height: 100vh;
    position: absolute;
    width: 100%;
    right: 4rem;

}
  
  .video-responsive iframe {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: -40;
}
  