:root {
  --secondary-font: 'Playfair Display', serif;
  
  --black-color: #000;
  --white-color: #fff;
  --gray-color: gray;
  --yellow-color: #fff1d6; 
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.app__container {
  width: 100%;
  min-height: 90vh;

  direction: flex;
  flex-direction: row;
}

p {
  font-size: 1rem;
  
  line-height: 1.5;
}


.head-text {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  font-family: var(--secondary-font);
  color: inherit;
  text-transform: capitalize;

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.work-header { 
  font-size: 3rem;
  font-weight: 400;
  line-height: 400;
  text-align: center;
  font-family: var(--secondary-font);

  text-transform: capitalize;

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

h1{
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  color: var(--gray-color);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

// make this responsive for mobile



h4 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

// make a button with black background and white text
.button-secondary {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  
  border: none;
  border-radius: 0.4rem;

  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--black-color);
    color: var(--white-color);
  }
}

.learn-more {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--black-color);
  text-transform: capitalize;
  margin-top: 1rem;
  display: inline-block;
  border-bottom: 1px solid var(--black-color);
}

// make a white button that turn to gray when hover
.button-primary {
  background-color: var(--white-color);
  color: var(--black-color);

  
  border: none;
  border-radius: 0.4rem;

  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
   
    color: var(--gray-color);
  }
}

// make a link that when hover turn to gray color 
.link {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.07s linear;

  &:hover {
    color: var(--gray-color);
  }
}

.app__margin {
  margin: 1.8rem 0; 
}

.social-icon {
  padding: 0.3rem;
  filter: invert(98%) sepia(43%) saturate(232%) hue-rotate(38deg) brightness(108%) contrast(94%);
  cursor: pointer;
}